<!DOCTYPE html>
<html lang="en" ng-app="GDAX">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GDAX Admin Console</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/ethstyle.css" rel="stylesheet">
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-nvd3/1.0.9/angular-nvd3.min.js"></script>

    <script>
        var app = angular.module('GDAX', [['nvd3']]);

        app.controller('Matches',
            function($scope, $http, $timeout) {

                $scope.lastUpdate = "";
                $scope.lastUpdateLength = 0;

                $scope.updateRows = function(){
                    $http.get('http://localhost:8080/gdax/getUpdates/' + $scope.lastUpdate)
                        .then(function(response){

                            //update our marker of the last update we've seen
                            //make sure there's at least one update
                            if(response.data.length > 0) {

                                //add updates to matches variable
//                                $scope.matches.push(response.data);

                                $scope.matches = angular.copy(response.data);

                                //update lastUpdate variable for subsequent REST calls
                                $scope.lastUpdate = $scope.matches[0]['sequence'];

                                console.log('Last update: ' + $scope.lastUpdate);
                                console.log('Matches: ' + $scope.matches.length);
                                console.log('response data length: ' + response.data.length);
                            }


                            //otherwise, just wait another second
                            $timeout($scope.updateRows, 5000);
                        })
                };

                $http.get('http://localhost:8080/gdax/getLastN/30/').
                then(function(response) {

                    $scope.matches = angular.copy(response.data);

                    //update our marker of the last update we've seen
                    $scope.lastUpdate = angular.copy($scope.matches[$scope.matches.length - 1]['sequence']);

                    console.log('calling updaterows');
//                    start updating the table every 5 seconds
                    $scope.updateRows();
                });
            });

        app.controller('Alerts',
            function($scope, $http){

                $scope.formData = {alertInput: null};

                $scope.updateAlerts = function() {
                    if($scope.formData.alertInput !== null) {

                        $http.get('http://localhost:8080/gdax/checkAlerts/' + $scope.formData.alertInput)
                            .then(function (response) {
                                $scope.alerts = angular.copy(response.data)

                                console.log("calling updateAlerts")


                            })
                    }
                }
            })

        app.controller('Chart',
            function($scope){
                $scope.options = {
                    chart: {
                        type: 'lineChart',
                        height: 450,
                        margin : {
                            top: 20,
                            right: 20,
                            bottom: 40,
                            left: 55
                        },
                        x: function(d){ return d.x; },
                        y: function(d){ return d.y; },
                        useInteractiveGuideline: true,
                        dispatch: {
                            stateChange: function(e){ console.log("stateChange"); },
                            changeState: function(e){ console.log("changeState"); },
                            tooltipShow: function(e){ console.log("tooltipShow"); },
                            tooltipHide: function(e){ console.log("tooltipHide"); }
                        },
                        xAxis: {
                            axisLabel: 'Time (ms)'
                        },
                        yAxis: {
                            axisLabel: 'Voltage (v)',
                            tickFormat: function(d){
                                return d3.format('.02f')(d);
                            },
                            axisLabelDistance: -10
                        },
                        callback: function(chart){
                            console.log("!!! lineChart callback !!!");
                        }
                    },
                    title: {
                        enable: true,
                        text: 'Title for Line Chart'
                    },
                    subtitle: {
                        enable: true,
                        text: 'Subtitle for simple line chart. Lorem ipsum dolor sit amet, at eam blandit sadipscing, vim adhuc sanctus disputando ex, cu usu affert alienum urbanitas.',
                        css: {
                            'text-align': 'center',
                            'margin': '10px 13px 0px 7px'
                        }
                    },
                    caption: {
                        enable: true,
                        html: '<b>Figure 1.</b> Lorem ipsum dolor sit amet, at eam blandit sadipscing, <span style="text-decoration: underline;">vim adhuc sanctus disputando ex</span>, cu usu affert alienum urbanitas. <i>Cum in purto erat, mea ne nominavi persecuti reformidans.</i> Docendi blandit abhorreant ea has, minim tantas alterum pro eu. <span style="color: darkred;">Exerci graeci ad vix, elit tacimates ea duo</span>. Id mel eruditi fuisset. Stet vidit patrioque in pro, eum ex veri verterem abhorreant, id unum oportere intellegam nec<sup>[1, <a href="https://github.com/krispo/angular-nvd3" target="_blank">2</a>, 3]</sup>.',
                        css: {
                            'text-align': 'justify',
                            'margin': '10px 13px 0px 7px'
                        }
                    }
                };
            })

    </script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>


    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Start Bootstrap</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Prices</a>
                    </li>
                    <li>
                        <a href="#">Nothin'</a>
                    </li>
                    <li>
                        <a href="#">More Nothin'</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>GDAX Admin Interface</h1>
                <p class="lead">View live ETHUSD prices below</p>
                <ul class="list-unstyled">
                    <li>Bootstrap v3.3.7</li>
                    <li>jQuery v1.11.1</li>
                </ul>
            </div>
        </div>
        <!-- /.row -->


        <div ng-controller="Alerts" class="input-lg columnRight">

            <form ng-submit="updateAlerts()">
                <input class="input-lg" ng-model="formData.alertInput" placeholder="Type a name and press enter"
                       style="width: 280px">
            </form>

            <table class="table-bordered table">
                <tr>
                    <th>Value</th>
                    <th>Triggered?</th>
                </tr>
                <tr ng-repeat="alert in alerts">
                    <td>{{alert.alert_value}}</td>
                    <td>{{alert.triggered}}</td>
                </tr>
            </table>
        </div>

        <!-- Table of Match Data -->
        <div ng-controller="Matches" class="columnLeft">

            <table class="table-bordered table">
                <tr>
                    <th>Time</th>
                    <th>Size</th>
                    <th>Price</th>
                    <th>Side</th>
                </tr>
                <tr ng-repeat="match in matches | orderBy: '-sequence'">
                    <!--<tr>-->
                    <td ng-class="{'buy': match.side==='buy', 'sell': match.side==='sell'}">{{match.time.substring(11, 19)}}</td>
                    <td ng-class="{'buy': match.side==='buy', 'sell': match.side==='sell'}">{{match.size}}</td>
                    <td ng-class="{'buy': match.side==='buy', 'sell': match.side==='sell'}">{{match.price}}</td>
                    <td ng-class="{'buy': match.side==='buy', 'sell': match.side==='sell'}">{{match.side}}</td>
                </tr>
            </table>
        </div>

        <div ng-controller="Chart">
            <nvd3 options="options" data="data"></nvd3>
        </div>
    </div>
    <!-- /.container -->

    <!-- jQuery Version 1.11.1 -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
